{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h1>{{.Title }}</h1>
    {{if .Description }}
    <h2>{{.Description}}</h2>
    {{end}}
  </div>
  <div>
    <div id="post">
        {{.Content}}
    </div>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <a href="https://carolynvanslyck.com/blog/2018/06/gopher-source-adventures/">
            <img alt="gophers at work" src="{{ "/img/build.png" | relURL }}" width="256" height="256">
          </a>
        </figure>
        <h3>Gophers, United</h3>
        <p>Bringing the Go community to the table with the Go team.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <a href="/projects/">
            <img alt="gopher with balloons" src="{{ "/img/gopher-balloons.png" | relURL }}" width="256" height="256">
          </a>
        </figure>
        <h3>Open Source</h3>
        <p>Contributing to upstream Go and open source Go projects.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="gopher dropping the microphone" src="{{ "/img/mic-drop.png" | relURL }}" width="256" height="256">
        </figure>
        <h3>Impact</h3>
        <p>Shaping the future of the Go programming language, ecosystem and community.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
          <figure>
            <a href="/community/">
              <img alt="gophers hugging" src="{{ "/img/hugs.png" | relURL }}" width="256" height="256">
            </a>
          </figure>
        <h3>Community</h3>
        <p>Maintaining and growing the amazing Go community that we have come to love.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="multi-colored gophers" src="{{ "/img/inclusion.png" | relURL }}" width="256" height="256">
        </figure>
        <h3>Inclusion</h3>
        <p>Ensuring everyone is on equal footing, regardless of background or experience.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <a href="/study-group/">
            <img alt="gophers learning together" src="{{ "/img/learn.png" | relURL }}" width="256" height="256">
          </a>
        </figure>
        <h3>Mentorship</h3>
        <p>Creating safe spaces for community memebers to meet, interact and support eachother.</p>
      </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
